.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;

  .cart-item-image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 25px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cart-item-details {
    .cart-item-name {
      font-size: 20px;
    }
    
    .cart-item-quantity-and-price {
      font-size: 20px;
    }
  }
}